
:root  {
    --title-fs: 3rem;
    --primary-color: #ebd2cc;
    --text-color: dimgrey;
}


@media (max-width: 40em) {
    :root {
        --title-fs: 2rem;
    }
}

.navbar {
    display: flex;
    justify-content: flex-start;
}

.navbar > * {
    padding: 1rem;
}

.navbar__group {
    display: flex;
    align-items: center;
}

.navbar__menu {
    display: none;
}

@media (max-width: 40em) {

    .navbar__group:first-child {
        flex-grow: 1;
    }

    .navbar__menu {
        display: block;
    }
}

.navbar__links {
    width: 100%;
}

.navbar__spacer {
    flex-grow: 1;
}


.navbar__logo {
    border-radius: 50%;
    max-width: 64px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
}

@media (max-width: 40em) {
    .navbar__logo {
        max-width: 48px;
    }
}

.navbar__title {
    margin: 0 0 0 1rem;
    font-size: var(--title-fs);
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    white-space: normal;
    white-space: nowrap;
}

.navbar__item {
    background-color: var(--primary-color);
    padding: 12px 20px;
    border-radius: 999px;
    margin: 3px 15px 5px 15px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    cursor: pointer;

}

.navbar__item div {
    display: flex;
    align-items: center;
}

.navbar__item span {
    margin-right: 0.5rem;
    font-size: 2rem;
    color: var(--text-color);
}

.navbar__item p {
    margin: 0 0 0 0;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    font-weight: bold;
}

.navbar__user {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.navbar__menu__button {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.navbar__menu__button span{
    font-size: 2rem;
    color: var(--text-color);
}

@media(max-width: 40em) {
    .navbar__links {
        position: absolute;
        bottom:0;
        display:flex;
        padding: 0;
        width: 100%;

    }

    .navbar__links .navbar__item div{
        display: flex;
        flex-direction: column;
    }

    .navbar__links p {
        font-size: 0.7rem;
    }

    .navbar__links .navbar__item span {
        margin: 0;
    }

    .navbar__links .navbar__item {
        background-color: transparent;
        box-shadow: none;
    }

    .navbar__links .navbar__group {
        justify-content: center;
    }

    .navbar__brand, .navbar__menu {
        padding: 0.5rem 1rem;
    }

    .navbar__spacer {
        flex-grow: 0;
    }
}


